body {
  background-color: #f2f2f2;
  color: hsl(200, 15%, 8%);
  font-family: 'Nunito Sans', sans-serif;
}

header {
  background-color: white;
  z-index: 1;
}

h2 {
  font-weight: bold;
  font-size: 2.4rem;
}

.btn {
  border-style: solid;
  border-color: black;
}

.homeBtn {
  margin-left: 15px;
}

.col-lg-4, .col-lg-8 {
  margin: auto;
}

.borderBtn {
  padding: 1px 15px;
  margin: 5px 5px;
}

.container {
  padding: 18px 0;
}

a, a:active {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

a:hover {
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

hr {
  margin: 0;
  box-shadow: 1px 1.5px 1.5px 1px #f2f2f2;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  transition: transform .2s;
}

.card:hover {
  cursor: pointer;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.input-group {
  width: 50%;
}

.regions {
  width: 100%;
}

.content {
  padding-left: 5%;
}

.input-group-text {
  background-color: white;
}

.errorDiv{
  margin-bottom: 20px;
}

.error{
  position: absolute;
  left: 50%;
  margin-left: -25%;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 18px 5%;
  }

  .bottomSpace {
    margin-bottom: 8%;
  }

  .input-group {
    width: 100%;
    margin-bottom: 30px;
  }

  .borderBtnRow {
    padding-left: 15px;
  }

  h2 {
    font-size: 1.71rem;
  }

  .regions {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .col-4 {
    text-align: center !important;
  }

  a {
    font-size: 15px;
  }

  .extraPadding {
    padding: 18px 10%;
  }

  .homeBtn {
    margin-left: 35px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .error{
    margin: auto;
    position: static;
  }
}

.elementsDark {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.btnDark {
  background-color: hsl(209, 23%, 22%);
  color: white;
  border-color: white;
}

.hrDark {
  background-color: #161b1d;
  box-shadow: None;
}

.bodyDark {
  background-color: #161b1d;
  color: white;
}
